streamlit==1.37.1
pypdf==4.2.0
faiss-cpu==1.8.0.post1

# LangChain 0.2 “split” packages
langchain==0.2.14
langchain-core==0.2.36
langchain-community==0.2.12
langchain-openai==0.2.5
langchain-text-splitters==0.2.2
langchain-huggingface==0.1.2
langchain-ollama==0.1.1

sentence-transformers==2.7.0
openai==1.51.2

